=render "shared/header"
= form_with model: @post ,local: true do |f| 
  .new__post
    = hidden_field_tag :user_id,value:@current_user.id
    .new-post__title
      %p タイトルを入力してください
      = f.text_field :title ,class:"input",size: 25 
    .new-post__content
      %p 本文を入力してください
      = f.text_area :content,class:"text-area",size:"24x15" ,value:"#{@post.content}"
    .new-post__tags
      = f.label :all_tags
      = f.text_field :all_tags,size: 25
    .btn 
      = f.submit value="送信",class:"btn"