.wrapper
  =render "shared/header"
  -if @post.errors.any?
    .alert.alert-danger
      %ul
        -@post.errors.full_messages.each do |message|
          %li 
            =message
  .new
    = form_with model: @post ,local: true do |f| 
      .new__post
        = f.hidden_field :user_id,value:@current_user.id
        .new-post__title
          %p タイトルを入力してください
          = f.text_field :title ,class:"input",size: 25 ,value:"#{@post.title}"
        .new-post__content
          %p 本文を入力してください
          = f.text_area :content,class:"text-area",size:"24x15" ,value:"#{@post.content}"
        .btn 
          = f.submit value="送信",class:"btn"
        -# ,placeholder: 'タイトルを入れてください'
        -# ,placeholder: '覚えたいこと勉強したことをかいてください'