=render "shared/header"
.content
  .user-name
    %p投稿者
    =link_to "#{@user.nickname}さんの投稿一覧はこちら",user_path(@user)
  .post__title
    =image_tag "#{@user.user_image}", size: "80x100"
  .post__tags
    ="タグ"
    -@tags.each do |tag|
      =link_to(tag.name,root_path)
  .post__title
    ="title: #{@post.title}"
  .post__content
    ="本文: #{@post.content}"
  .post__created-at
    =@post.created_at
  -if@current_user.present? && @current_user.id == @post.user_id 
    .post__menu
      = link_to("編集", edit_post_path,class:"hover")
    .post__menu
      = link_to("削除", post_path,method: "delete",class:"hover")
  = render "likes/likes", post: @post
  -if @current_user
    .comment
      =form_with url:post_comments_path(@post),local: true,id: "new_comment" do|f|
        .comment__form
          %p コメント記入欄
          .comment__form__text
            = f.text_area :text,placeholder:"コメントを記入してください",class: "textbox"
        .btn 
          = f.submit "送信",class:"btn form__submit send"
    -if @comments
      .comments-wrapper
        %p コメント一覧
        %ul.comments
          -@comments .each do |comment|
            %li
              .comments__list
                .comments__list__contributor
                  =link_to comment.user.nickname,user_path(comment.user_id)
                .comments__list__text
                  =comment.text
              -if comment.user_id == @current_user.id
                =link_to post_comment_path(@post,comment.id),method:"delete",class:"comments__list__delete__icon",remote:'true' do
                  =icon('fas','trash')
